.header-section {
  background-image: url(public/assets/iteration-1/home-banner.png);
  background-size: cover;
  width: 100%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section img {
  margin-top: 56px;
}

.container-home {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  width: 50%;
  align-items: center;
}

.container-home div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-home p {
  font-family: "Satisfy", cursive;
  font-size: 32px;
  color: #FDC913;
  line-height: 44.27px;
}

.container-home h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 86px;
  color: white;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 92px;
  text-align: center;
}

.container-home .btn {
  text-align: center;
  width: 20%;
  padding: 1px 50px;
  margin-top: 13.27px;
  color: #292929;
  text-decoration: none;
  border-radius: 50px;
  background-color: #FDC913;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 56px;
}

.menu-header {
  display: flex;
  justify-content: center;
  padding: 26px;
}

.menu-header a {
  display: flex;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  text-decoration: none;
  color: #292929;
  padding: 0 26px;
}

.menu-header span {
  padding-left: 16px;
}

.main-section {
  background-color: #FAF7F2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-cta {
  display: flex;
  justify-content: center;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
  gap: 11px;
}

.cta-main {
  background-image: url(public/assets/iteration-2/cta/kart-1.png);
  width: 531px;
  height: 449px;
  border-radius: 12px;
  padding: 44px 39px;
  background-size: cover;
}

.cta-burger {
  background-image: url(public/assets/iteration-2/cta/kart-2.png);
  width: 530px;
  height: 220px;
  border-radius: 12px;
  padding: 28.5px 32px;
  background-size: cover;
}

.cta-kurye {
  background-image: url(public/assets/iteration-2/cta/kart-3.png);
  width: 530px;
  height: 220px;
  border-radius: 12px;
  padding: 29.5px 32px;
  margin-top: 9px;
  background-size: cover;
}



.cta-main h3 {
  font-family: "Quattrocento", serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  width: 288px;
  color: white;
}

.cta-main p {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.76px;
  margin-top: 5.8px;
  margin-bottom: 25px;
  
}

.cta-btn {
  background-color: white;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  color: #CE2829;
  width: 20%;
  padding: 15px 30px;
}

.cta-burger h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  color: white;
  width: 182.35px;
  margin-bottom: 29px;
  
}

.cta-kurye h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  color: #292929;
  width: 254px;
  margin-bottom: 24.5px;
}

.cta-kurye h3 span {
  color: #CE2829;
}

.container-baslik {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-baslik p {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 42.27px;
  color: #CE2829;
  margin-top: 55px;
}

.container-baslik h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  margin-top: 8px;
}

.container-list {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.container-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-list li {
  display: inline-block;
  margin: 0 10px;
}

.container-list li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 0 20px;
  height: 66px;
}

.container-list li a {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.4px;
  color: black;
}

.container-list ul li:nth-child(2) a {
  background-color: #292929;
  color: white;
}

.container-urunler {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  margin-bottom: 70px;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 334.64px;
  height: 419px;
  padding: 32px;
  gap: 24px;
  border-radius: 12px;
}

.info-urun {
  display: flex;
  flex-direction: column;
}

.info-urun h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
}

.puan-yorum-fiyat {
  display: flex;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  color: #5F5F5F;
  margin-top: 8px;
}

.fiyat {
  font-weight: 700;
  color: #292929;
}

.puan {
  flex: 3;
}

.yorum {
  flex: 2;
}

.footer-section {
  display: block;
  background-color: #1A1A1A;
}

.container-footer {
  display: flex;
  justify-content: center;
  gap: 56px;
  margin-bottom: 48.5px;
  padding-top: 58px;
}

.address-menu-footer {
  display: flex;
  gap: 40px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
}

.contact-list li {
  display: flex;
  gap: 13px;
  align-items: baseline;
  margin-top: 22px;
}

.contact-list li span {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 24.78px;
  justify-content: start;
  width: 50%;
}

.footer-logo {
  width: 251px;
  height: 100px;
  padding-right: 60px;
}

.adress-container {
  margin-top: 18.5px;
  display: flex;
  gap: 22px;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 26.09px;
  margin-top: 75px;
  align-items: baseline;
  margin-right: 50px;
}

.menu h3 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  gap: 7.39px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  color: white;
}

.social {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 75px;
  justify-content: start;
}

.social h3 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
}

.social-img {
  display: flex;
  max-width: 347px;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
  column-gap: 20px;
  object-fit: contain;
}

.container-copyright {
  background-color: #1A1A1A;
  border-top: 1px solid #5F5F5F;
  padding: 30.55px 420px;
  display: flex;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  justify-content: space-between;
  align-items: center;
  
}

.container-copyright img {
  width: 18px;
  height: 18px;
}