.header-section {
  background-image: url(public/assets/iteration-1/home-banner.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section img {
  margin-top: 56px;
}

.container-home {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  width: 50%;
  align-items: center;
}

.container-home div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-home p {
  font-family: "Satisfy", cursive;
  font-size: 32px;
  color: #FDC913;
  line-height: 44.27px;
}

.container-home h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 86px;
  color: white;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 92px;
  text-align: center;
}

.container-home .btn {
  text-align: center;
  width: 193px;
  padding: 1px 50px;
  margin-top: 13.27px;
  color: #292929;
  text-decoration: none;
  border-radius: 50px;
  background-color: #FDC913;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 56px;
}

.menu-header {
  display: flex;
  justify-content: center;
  padding: 26px;
}

.menu-header a {
  display: flex;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  text-decoration: none;
  color: #292929;
  padding: 0 26px;
}

.menu-header span {
  padding-left: 16px;
}

.main-section {
  background-color: #FAF7F2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-cta {
  display: flex;
  justify-content: center;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
  gap: 11px;
}

.cta-main {
  background-image: url(public/assets/iteration-2/cta/kart-1.png);
  width: 531px;
  height: 449px;
  border-radius: 12px;
  padding: 44px 39px;
  background-size: cover;
}

.cta-burger {
  background-image: url(public/assets/iteration-2/cta/kart-2.png);
  width: 530px;
  height: 220px;
  border-radius: 12px;
  padding: 28.5px 32px;
  background-size: cover;
}

.cta-kurye {
  background-image: url(public/assets/iteration-2/cta/kart-3.png);
  width: 530px;
  height: 220px;
  border-radius: 12px;
  padding: 29.5px 32px;
  margin-top: 9px;
  background-size: cover;
}



.cta-main h3 {
  font-family: "Quattrocento", serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  width: 288px;
  color: white;
}

.cta-main p {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 26.76px;
  margin-top: 5.8px;
  margin-bottom: 25px;
}

.cta-btn {
  background-color: white;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  color: #CE2829;
  width: 20%;
  padding: 15px 30px;
}

.cta-burger h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  color: white;
  width: 182.35px;
  margin-bottom: 29px;
}

.cta-kurye h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44.27px;
  color: #292929;
  width: 254px;
  margin-bottom: 24.5px;
}

.cta-kurye h3 span {
  color: #CE2829;
}

.container-baslik {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-baslik p {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 42.27px;
  color: #CE2829;
  margin-top: 55px;
}

.container-baslik h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 56.2px;
  margin-top: 8px;
}

.container-list {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.container-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-list li {
  display: inline-block;
  margin: 0 10px;
}

.container-list li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 0 20px;
  height: 66px;
}

.container-list li a {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.4px;
  color: black;
}

.container-list ul li:nth-child(2) a {
  background-color: #292929;
  color: white;
}

.container-urunler {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  margin-bottom: 70px;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 334.64px;
  height: 419px;
  padding: 32px;
  gap: 24px;
  border-radius: 12px;
}

.info-urun {
  display: flex;
  flex-direction: column;
}

.info-urun h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
}

.puan-yorum-fiyat {
  display: flex;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 28.8px;
  color: #5F5F5F;
  margin-top: 8px;
}

.fiyat {
  font-weight: 700;
  color: #292929;
  font-weight: 700;
  font-size: 20px;
}

.puan {
  flex: 3;
}

.yorum {
  flex: 2;
}

.footer-section {
  display: block;
  background-color: #1A1A1A;
}

.container-footer {
  display: flex;
  justify-content: center;
  gap: 56px;
  margin-bottom: 48.5px;
  padding-top: 58px;
}

.address-menu-footer {
  display: flex;
  gap: 40px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
}

.contact-list li {
  display: flex;
  gap: 13px;
  align-items: baseline;
  margin-top: 22px;
}

.contact-list li span {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 24.78px;
  justify-content: start;
  width: 50%;
}

.footer-logo {
  width: 251px;
  height: 100px;
  padding-right: 60px;
}

.adress-container {
  margin-top: 18.5px;
  display: flex;
  gap: 22px;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 26.09px;
  margin-top: 75px;
  align-items: baseline;
  margin-right: 50px;
}

.menu h3 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  gap: 7.39px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.4px;
  color: white;
}

.social {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 75px;
  justify-content: start;
}

.social h3 {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32.11px;
}

.social-img {
  display: flex;
  max-width: 347px;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
  column-gap: 20px;
  object-fit: contain;
}

.container-copyright {
  background-color: #1A1A1A;
  border-top: 1px solid #5F5F5F;
  padding: 30.55px;
  display: flex;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28.8px;
  justify-content: space-around;
}

.container-copyright img {
  width: 18px;
  height: 18px;
}

/* media query for mobile */

@media (max-width: 541px) {
  .header-section {
    background-color: #CE2829;
    background-size: cover;
    background-position: center 115px;
    background-repeat: no-repeat;
    height: 128vh;
  }
  .container-home {
    align-items: center;
    margin-top: 40px;
  }
  .header-section img {
  margin-top: 125px;
  margin-left: 71px;
  margin-right: 71px;
  }
  .container-home p {
    display: none;
    margin: 0;
    padding: 0;
  }
  .container-home .btn {
    font-size: 24px;
    margin-top: 40px;
  }
  .menu-header {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 29px;
    padding: 32px;
    margin: 10px 64.67px;
  }
  .menu-header a {
    flex: 50%;
    padding-right: 20px;
    padding-left: 0;
    white-space: nowrap;
  }
  .menu-header a:nth-child(2n) {
    padding-right: 0;
    padding-left: 20px;
  }
  .main-section {
    padding-top: 53px;
    padding-left: 59.5px;
    padding-right: 59.5px;
  }
  .container-cta {
    flex-direction: column;
  }
  .cta-main {
  width: 422px;
  height: 336px;
  background-position: center;
}
.cta-burger {
  width: 422px;
  height: 270px;
  background-position: center right 20%;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: #292929;
  padding: 53.5px 32px;
}
.cta-kurye {
  width: 422px;
  height: 270px;
  background-position: center right 30%;
  background-size: cover;
  padding: 53.5px 32px;
}
.container-baslik {
  text-align: center;
}
.container-baslik h2 {
  width: 308px;
  margin-top: 35px;
}
.container-list {
  padding: 0;
}
.container-list ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  justify-content: space-between;
  padding: 0 22px;
}
.container-list li {
  margin: 0;
}
.container-urunler {
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 24px;
  margin-bottom: 58px;
}
.card {
  width: 420px;
  height: 526px;
}
.yorum {
  flex: 1;
}
.footer-section {
  padding-left: 58px;
  padding-right: 70px;
}
.container-footer {
  flex-direction: column;
  padding-top: 81px;
  padding-bottom: 80px;
  margin-bottom: 0;
}
.address-menu-footer {
  flex-direction: column;
  gap: 5px;
}
.address {
  width: 80%;
}
.contact-list li:first-child {
  margin-top: 0;
}
.social {
  padding: 0;
  margin: 0;
}
.container-copyright {
  justify-content: space-between;
  padding: 34.5px 0 50px 0;
  padding-bottom: 50px;
}
}

@media (max-width: 480px) {
  .header-section {
    height: 115vh;
  }
  .container-home {
    width: 73.5%;
    max-width: 395px;
    margin-top: 35.48px;
  }
  .container-home h1 {
    font-size: 4.7rem;
    letter-spacing: 1.5px;
    line-height: 81.6px;
  }
  .header-section img {
    margin-top: 110.8px;
    width: 66.9%;
  }
  .container-home .btn {
    margin-top: 35.48px;
    width: 171.4px;
    font-size: 1.35rem;
    padding: 0;
    height: 49.6px;
    border-radius: 44.3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-header {
    row-gap: 25.7px;
    padding: 28.3px;
    margin: 8.87px 57.3px;
    align-items: center;
  }
  .menu-header a {
    padding-right: 17.7px;
    font-size: 15.9px;
    line-height: 30.5px;
    padding: 0 23px;
  }
  .menu-header a:nth-child(2n+1) {
    padding-left: 0;
  }
  .menu-header a img {
    width: 37.2px;
  }
  .main-section {
    padding-top: 47px;
    padding-left: 52.7px;
    padding-right: 52.7px;
  }
  .cta-main {
    width: 374.3px;
    height: 298px;
    padding: 39px 34.5px;
  }
  .container-cta {
    margin: 0;
  }
  .cta-main h3 {
    font-size: 60.3px;
    line-height: 63.8px;
  }
  .cta-main p {
    font-size: 17.74px;
    line-height: 23.5px;
    margin-top: 5.1px;
    margin-bottom: 22.1px;
  }
  .cta-btn {
    border-radius: 44.3px;
    font-size: 12.4px;
    line-height: 42.5px;
    padding: 13.3px 26.6px;
  }
  .cta-burger {
    width: 374.3px;
    height: 239.4px;
    padding: 47.45px 28.3px;
  }
  
  .cta-burger h3 {
    font-size: 28.3px;
    line-height: 39.2px;
    margin-bottom: 25.7px;
  }
  .cta-kurye {
    width: 374.3px;
    height: 239.4px;
    padding: 47.45px 28.3px;
  }
  .cta-kurye h3 {
    font-size: 28.3px;
    line-height: 39.2px;
    margin-bottom: 25.7px;
  }
  .container-baslik p {
    font-size: 28.3px;
    line-height: 37.4px;
    margin-top: 48.7px;
  }
  .container-baslik h2 {
    font-size: 37.2px;
    line-height: 49.8px;
    margin-top: 20px;
    width: 273px;
  }
  .container-list {
    margin-top: 40px;
  }
  .container-list li {
    margin: 0 8.87px;
  }
  .container-list ul {
    padding: 0;
  }
  .container-list li a {
    gap: 8.87px;
    border-radius: 44.3px;
    padding: 0 17.7px;
    height: 58.5px;
    flex: 1;
  }
  .container-list li a {
    font-size: 15.9px;
    line-height: 28.74px;
  }
  .container-list li a img {
    width: 37.2px;
  }
  .card {
    height: 466.56px;
  }
  .info-urun h3 {
    font-size: 19.5px;
    line-height: 26px;
  }
  .puan-yorum-fiyat {
    font-size: 14px;
    line-height: 25.5px;
    margin-top: 8px;
  }
  .fiyat {
    font-size: 17.7px;
  }
  .container-footer {
    margin-bottom: 0;
    padding-top: 70px;
  }
  .footer-section {
    padding-left: 51.4px;
  }
  .address-menu-footer {
    gap: 0;
  }
  .contact-list li img {
    width: 24.8px;
  }
  .contact-list li {
    gap: 11.5px;
    margin-top: 19.5px;
  }
  .contact-list li span {
    font-size: 15.9px;
    line-height: 28.7px;
  }
  .address {
    gap: 21.9px;
    width: 90%;
  }
  .footer-logo {
    width: 222.6px;
    height: 88.7px;
    padding-right: 53.2px;
  }
  .adress-container {
    margin-top: 16.6px;
    gap: 19.5px;
  }
  .menu {
    gap: 23px;
    margin-top: 66.5px;
    margin-right: 44.3px;
  }
  .menu h3 {
    font-size: 21.28px;
    line-height: 28.48px;
  }
  .menu ul {
    font-size: 15.9px;
    line-height: 28.7px;
    gap: 6.55px;
  }
  .menu li a {
    font-size: 15.9px;
    line-height: 28.73px;
  }
  .social {
    margin: 0;
  }
  .social h3 {
    font-size: 21.28px;
    line-height: 28.48px;
  }
  .social-img {
    max-width: 347px;
    margin-top: 35.48px;
    gap: 17.74px;
    column-gap: 17.74px;
  }
  .container-copyright {
    padding: 27px 0 45.5px 0;
    font-size: 14.1px;
    line-height: 25.5px;
  }
  .container-copyright img {
    width: 15.96px;
    height: 15.96px;
  }
}