.header-section header {
  background-image: url(public/assets/iteration-1/home-banner.png);
  width: 100%;
  display: flex;
  height: 1080px;
  flex-direction: column;
  align-items: center;
  
}

.logo {
  width: 363px;
  height: 50px;
  margin: 56px 778px;
  
  
}

.container-home p {
  font-family: satisfy;
  font-size: 32px;
  color: #FDC913;
  line-height: 44.27px;
}

.container-home h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 86px;
  color: white;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 92px;
}

.container-home {
  width: 767.64px;
  text-align: center;
}

.container-home .btn {
  margin: 15px auto;
  padding: 14px 66.6px;
  border-radius: 50px;
  background-color: #FDC913;
  border: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

.menu-header {
  display: flex;
  justify-content: space-around;
  margin: 26px 426px;
  width: 100wm;
  height: 94px;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}
